<mat-dialog-content>
  <ul>
    <p>Primetime Movies helps you find and search the latest movie releases!</p>
    <p>Find movies by release date, check out upcoming movies, and see which movies are the most popular!</p>
    <p>You can also do a search for a movie you already have in mind</p>
  </ul>

  <h2 fxLayoutAlign="center center">Enjoy the movies!</h2>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-stroked-button color="accent" (click)="onDialogClose()">
    Close
  </button>
</mat-dialog-actions>