<mat-toolbar color="primary" fxLayoutAlign="center center">
  <h2>Primetime Movies</h2>
  <mat-icon>theaters</mat-icon>
</mat-toolbar>

<app-movies></app-movies>

<footer>
  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="center center">
      <a href="https://github.com/NathanPickard" mat-raised-button target="_blank" style="text-decoration: none;">
        <mat-icon>copyright</mat-icon>
        2019 Built by Nathan Pickard
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
