<h1 mat-dialog-title fxLayoutAlign="center center">{{ data.movieData.original_title }}</h1>

<mat-dialog-content>

  <h2>Tagline: {{ data.movieDetailsInfo.tagline }}</h2>

  <div fxLayoutAlign="center center">
    <img src="{{ data.posterImgSrc }}">
  </div>

  <h4 fxLayoutAlign="center center">Release date: {{ data.movieData.release_date | date:'mediumDate' }}</h4>

  <mat-divider></mat-divider>

  <h4>Overview:</h4>
  <p>{{ data.movieData.overview }}</p>

  <mat-divider></mat-divider>

  <h4>Rating: {{ data.movieData.vote_average }}</h4>

</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-stroked-button color="primary" (click)="onDialogClose()">
    Close
  </button>
</mat-dialog-actions>