<h1 mat-dialog-title>Movie Poster</h1>

<!-- <div *ngIf="data.largePoster" mat-dialog-content>
  <div mat-dialog-content>
    {{ data.movieNowPlayingInfo.original_title }}
    <img src={{data.largePoster}}>
    <img src="{{ data.largePoster[i] }}">
    {{ data.largePoster[i] }}
  </div> -->

<div mat-dialog-actions>
  <button mat-button color="primary" (click)="onDialogClose()">
    Close
  </button>
</div>

<div *ngFor="">
  <img src="{{ data.largePoster }}">
</div>

<!-- <div *ngFor="let poster of data.largePoster">
    <p>{{ dialogPoster }}</p>
  </div> -->
<!-- </div> -->