<div fxLayout="column" fxLayoutAlign="center center" style="padding: 20px 0px 20px;">

  <mat-card>

    <div fxLayoutAlign="center center" fxLayout.lt-sm="column" fxLayoutGap="30px">

      <form [formGroup]="searchMovieForm" (ngSubmit)="searchMovies()">

        <mat-form-field appearance="outline">
          <mat-label>Search movies</mat-label>
          <input matInput placeholder="Have a movie in mind?" formControlName="searchQuery">
          <button matSuffix mat-mini-fab color="primary">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>

      <mat-form-field>

        <!-- <mat-label>Select movie times</mat-label> -->
        <mat-label>Search movies by:</mat-label>

        <mat-select [(value)]="selected">
          <mat-option value="Now Playing" (click)="searchMoviesNowPlaying()">
            <!-- <mat-icon>new_releases</mat-icon>Now playing -->
            Now playing
          </mat-option>
          <mat-option value="Coming Soon" (click)="searchMoviesUpcoming()">
            <!-- <mat-icon>date_range</mat-icon>Coming soon -->
            Coming soon
          </mat-option>
          <mat-option value="Most Popular" (click)="searchMoviesMostPopular()">
            <!-- <mat-icon>date_range</mat-icon>Coming soon -->
            Most popular
          </mat-option>
        </mat-select>

      </mat-form-field>

      <!-- <mat-form-field>

        <mat-label>Select movie times</mat-label> -->
      <!-- <mat-label>Search movies by:</mat-label> -->

      <!-- <mat-select [(ngModel)]="selectedValue"> -->
      <!-- <mat-select [formControl]="movieReleaseTypeControl" (selectionChange)="onMovieTypeChange($event)">
          <mat-option *ngFor="let movie of movieReleaseType" [value]="movie.value"> -->
      <!-- <mat-icon>new_releases</mat-icon>Now playing -->
      <!-- {{ movie.viewValue }}
          </mat-option>
        </mat-select>

      </mat-form-field> -->

      <!-- </mat-card> -->
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
      <!-- <div> -->
      <h5 style="margin-top: 0px; margin-bottom: 8px;">Results powered by:</h5>
      <a href="https://www.themoviedb.org/" style="text-align: center">
        <img
          src="https://website-images-nathan.s3-us-west-2.amazonaws.com/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg"
          style="width: 55%;">
      </a>

    </div>
  </mat-card>

</div>

<div fxLayoutAlign="center center">
  <h2> {{ selected }}</h2>
</div>

<div *ngIf="searching" fxLayoutAlign="center center" style="padding-top: 150px;">
  <mat-spinner color="accent"></mat-spinner>
</div>

<!-- <div *ngIf="foundMovieResults" fxLayout="row wrap" fxLayoutAlign="center center" style="padding: 12px 12px;">

  <div *ngFor="let foundMovieFullDetail of foundMovieFullDetails; let i = index" [@listAnimation]
    style="padding: 8px 8px">
    <mat-card style="width: 300px;" fxLayout="column" fxLayoutAlign="center center">


      <h2 *ngIf="foundMovieFullDetail.tagline">Tagline: {{ foundMovieFullDetail.tagline }}</h2>

    </mat-card>
  </div>
</div> -->

<div *ngIf="foundMovieResultsData" fxLayout="row wrap" fxLayoutAlign="center center" style="padding: 12px 12px;">

  <!-- <div *ngFor="let foundMovieFullDetail of foundMovieFullDetails; let i = index" [@listAnimation] style="padding: 8px 8px"> -->
  <div *ngFor="let foundMovieResults of foundMovieResultsData; let i = index" [@listAnimation] style="padding: 8px 8px">
    <mat-card style="width: 300px;" fxLayout="column" fxLayoutAlign="center center">

      <mat-card-content>

        <!-- <a *ngIf="foundMovieResults[i]" (click)="openPosterDialog(foundMovieResult)" fxLayoutAlign="center center" -->
        <a *ngIf="foundMovieResultsImages[i] !== 'noImage'" (click)="openPosterDialog(foundMovieResults)"
          fxLayoutAlign="center center" style="cursor: pointer;">
          <img src="{{ foundMovieResultsImages[i] }}">
        </a>

        <a *ngIf="foundMovieResultsImages[i] == 'noImage'" (click)="openPosterDialog(foundMovieResults)"
          fxLayout="column" fxLayoutAlign="center center" style="padding: 25px 0px; cursor: pointer;">
          <mat-icon>theaters</mat-icon>
          (Image not available)
        </a>

        <h3 fxLayoutAlign="center center" (click)="openPosterDialog(foundMovieResults)"
          style="margin-top: 8px; cursor: pointer; text-align: center;">
          {{ foundMovieResults.original_title }}
        </h3>

        <!-- <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Details
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h3>Overview:</h3>
          {{ foundMovieResults.overview }}
          <h3>Rating: {{ foundMovieResults.vote_average }}</h3>
        </mat-expansion-panel> -->
      </mat-card-content>
    </mat-card>

  </div>
</div>


<h2 *ngIf="foundSearchResults" fxLayoutAlign="center center">Search results for
  "{{ searchMovieForm.get('searchQuery').value }}"</h2>

<div *ngIf="foundMoviesSearch" fxLayout="row wrap" fxLayoutAlign="center center" style="padding: 15px 15px;">

  <div *ngFor="let foundMovieSearch of foundMoviesSearch; let i = index" style="padding: 8px 8px">

    <mat-card style="width: 300px;" fxLayout="column" fxLayoutAlign="center center">
      <mat-card-header>
        <mat-card-title style="text-align: center;">
          {{ foundMovieSearch.original_title }}
        </mat-card-title>
        <mat-card-subtitle fxLayoutAlign="center center">
          Out: <mat-icon>event</mat-icon>{{ foundMovieSearch.release_date | date:'mediumDate' }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <a *ngIf="foundMoviesSearchImages[i] !== 'noImage'" href="" fxLayoutAlign="center center">
          <img src="{{ foundMoviesSearchImages[i] }}">
        </a>

        <div *ngIf="foundMoviesSearchImages[i] == 'noImage'" fxLayout="column" fxLayoutAlign="center center"
          style="padding: 25px 0px;">
          <mat-icon>theaters</mat-icon>
          (Image not available)
        </div>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Details
            </mat-panel-title>
          </mat-expansion-panel-header>
          {{ foundMovieSearch.overview }}
        </mat-expansion-panel>

      </mat-card-content>

    </mat-card>

  </div>

</div>