<mat-card>
  <mat-form-field fxLayoutAlign="end center">

    <mat-label>Select movie times</mat-label>

    <mat-select [(value)]="selected">
      <mat-option value="now playing">Now playing</mat-option>
      <mat-option value="coming soon">Coming soon</mat-option>
    </mat-select>

  </mat-form-field>

</mat-card>

<mat-toolbar color="accent" fxLayoutAlign="center center">
  Movies {{ selected }}
</mat-toolbar>

<div fxLayout="row wrap" fxLayoutAlign="center center" style="padding: 30px 30px;">

  <div *ngFor="let foundMovieNowPlaying of foundMoviesNowPlaying; let i = index" style="padding: 10px 10px">

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ foundMovieNowPlaying.original_title }}
        </mat-card-title>
      </mat-card-header>

      <a href="">
        <img src="{{ foundMoviesNowPlayingImages[i] }}">
      </a>

    </mat-card>

  </div>

</div>